*{
    margin: 0;
    background-repeat: no-repeat;
    scroll-behavior:smooth;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
  }
  p{
    font-family:cursive;
  }
  /* h1{
    font-family: 'Inter', sans-serif;
  } */

  /* font-family: 'Epilogue', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Manrope', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Sora', sans-serif; */

  /* new rules
  font-family: 'Oleo Script', cursive;
font-family: 'Sen', sans-serif; */

  body{
    background: rgb(255,255,255);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  }
  .navbar , .nav-link{
    font-family: 'Sen', sans-serif;
    font-weight: bold;

    /* text-transform:capitalize; */
   }

  :root {
    --blue: #00b7ff;
    --indigo: #2c0766;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #c02986;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --grey:rgb(201, 195, 195);
    --black:#000;
    --websky:rgb(69, 73, 73);
    

  }
.bmixed{  
  background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
  background-color: #fff;
   color:transparent;
  -webkit-background-clip: text;
   background-clip: text;  
   font-family:Arial, Helvetica, sans-serif;
   /* font-size:50px; */
   font-weight: bolder;  
}

  .animate__flipInX {
    animation-delay: 0.5s;
  }
/* #carousel_bg{
  background: rgb(255,255,255);
  background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 11%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 11%, rgba(0,0,0,1) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,1) 11%, rgba(0,0,0,1) 100%);


} */


  .bg{
    background-color: black;
  }
  .navbar .navbar-brand {
    background-image: url("../assets/images/home/ezgif.com-gif-maker.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30%;
    height: 3.2em;
    margin-right: 5em;
    
  }
  
  .navbar-nav .nav-item:hover {
    background-color: rgba(180, 190, 203, 0.4);
  }

  #edge{
    border-radius: 12px 12px 12px 12px;
    height:34em ;
    width:10% ;
    object-fit:cover;
  } 

  /* Glow nav button */
  .glow-on-hover{
  width: 120%;
  height: 110%;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #212529;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -2;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -2;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #050505, #000000);
  box-shadow: 1px 1px 7px #a0e1ec;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.navbar-nav  li  .dropdown-menu {
   background-color: #130d0d;
   color:#cc00ff;
   text-transform:uppercase ;
   border-radius: 12px;
   }
   .scollify .fas{
     /* position: fixed; */
     font-size: 38px;
     top: 78%;
     right: 1%;
     cursor: pointer;
     color: rgb(105, 45, 45);
     opacity: 0.7;
   }
   .scollify .fas:hover{
     color:rgb(39, 41, 41);
     opacity: unset;
   }
   .carousel .item {
    height: 20px;
  }
  /* footer Area */
  .footer-basic {
    padding:5px 5px;
    background-color:#ffffff;
    color:#4b4c4d;
  
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1;
    margin-bottom:15px;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
    word-spacing: 10px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:4px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    /* border-radius:50%;
    border:1px solid #ccc; */
    margin:0 8px;
    color:inherit;
    opacity:0.75;
   
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top: 2px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
/* footer end */

section {
  font-family:cursive;
}
#main_title{
  margin-left: 20px;
  margin-right: 20px;
  background-color: #000000;

}
/* Hover button */
.btn-grad {background-image: linear-gradient(to right, #1F1C2C 0%, #928DAB  51%, #1F1C2C  100%)}
.btn-grad {
   /* margin: 10px;
   padding: 15px 45px; */
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   /* border-radius: 10px; */
   display: block;
 }

 .btn-grad:hover {
   background-position: left center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
/* hover button end */
#about img{
  width: 100%;
  height: 60%;
  max-height: 35%;
  
}
/* .container .img-thumbnail{
  max-width: 50%;
  row-gap: 20px;
  padding: 50px;

} */
@media (min-width:1200px) { 
  #map_img{
    width: 30%;
   margin-left: 34%;
  }
 }
 .zoom {
  /* padding: 50px; */
  transition: transform .2s;
  /* width: 200px;
  height: 200px; */
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.02); 
}
/* district css */
#dis h2{
  font-family: 'Aclonica', sans-serif;
  
  
}
@media (min-width:1200px) { 
  #dis h2{
    size: 25px;
  } 
}
#rounded-pill{
  border-radius: 100px;
  
}
/* efffects */
#dis ,.animate__animated .animate__zoomIn {
  --animate-duration: 2s;
  --animate-delay: 1s;
}
